.signup-container {
    display: inline-block;
    max-width: 400px;
    margin: 30px;
    padding: 20px;
    background-color: #D2B48C;
    box-shadow: 5px 5px 5px darkgrey;
  }
  
  .signup-form {
    display: flex;
    flex-direction: column;
  }
  
  .signup-label {
    margin-bottom: 8px;
    margin-right: 8px;
  }
  
  .signup-input {
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .signup-button {
    background-color: #8B5A2B;
    color: #f0f2f5;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .signup-button:hover {
    background-color: #634028;
  }
  