
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Merriweather:400,700&display=swap');

nav {
  font-family: 'Montserrat', sans-serif;
  background-color: #8B5A2B; 
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  height: 30px; 
  padding: 10px;
}

.nav-item {
  width: 100px;
  text-align: center;
  padding: 50px;
}

nav a {
  color: #f0f2f5;
  text-decoration: none;
  padding: 10px; 
}

nav a.active {
  color: #f0f2f5;
  font-weight: bold;
}

nav a.active:hover {
  color: #f0f2f5 !important;
}

nav a:hover {
  text-decoration: none;
  color: #f0f2f5;
}

nav a.active.navbar-brand {
  border-bottom: none;
}

nav a:not(.navbar-brand):hover {
  font-weight: bold;
}
